<div class="container">
    <div class="row">
        <form>
      Search your site: <input type='text' id='st-search-input' class='st-search-input' />
    </form>
    
        <div class="col-md-9 col-md-offset-3">
            <%= will_paginate @machine %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="kk">
                    <% @machine.each do |m| %>
                    <tr>
                        <td><%= m.id %></td>
                        <td><%= m.title %></td>
                        <td><%= time_ago_in_words(m.created_at) %> ago</td>
                        <td><a class="hoverable-links" href="<%= machine_path(m) %>" data-toggle="tooltip" data-placement="top" title="Go To Page" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></td>
                        <td><a class="hoverable-links" href="<%= edit_admin_machine_path(m) %>" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @machine %>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Quick Add Machine Data</div>
                <div class="list-group">
                    <%= link_to "Type", new_admin_group_path, class: 'list-group-item' %>
                    <%= link_to "Year", new_admin_year_path, class: 'list-group-item' %>
                    <%= link_to "Make", new_admin_make_path, class: 'list-group-item' %>
                    <%= link_to "Model", new_admin_identifier_path, class: 'list-group-item' %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    $('.hoverable-links').css('visibility', 'hidden');
    $('tr').hover(function(){
        $(this).find('.hoverable-links').css('visibility', 'visible');
    },function(){
        $(this).find('.hoverable-links').css('visibility', 'hidden');
    });
    
    var searchRenderFunction = function(documentType, item) {
        var get_url; var split; var link; var html;
        html = '<tr>';
        html += '<td>' + item['external_id'] + '</td>';
        html += '<td>' + item['title'] + '</td>';
        html += '<td>' + item['created_at'] + '</td>';
        get_url = item['url'];
        split = get_url.split('machines');
        link = split[0] + 'admin/machines' + split[1] + '/edit';
        html += '<td><a class="hoverable-links" href="' + get_url + '" data-toggle="tooltip" data-placement="top" title="Go To Page" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></td>';
        html += '<td><a class="hoverable-links" href="' + link + '" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>';
        html += '</tr>';
        return html;
    };
    
    $('#st-search-input').swiftypeSearch({
        renderFunction: searchRenderFunction,
        resultContainingElement: '#kk',
        engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>',
        fetchFields: {'mcs': ['title']},
    });
    
    
})
</script>