<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @machine %>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @machine.each do |m| %>
                    <tr>
                        <td><%= m.id %></td>
                        <td><%= m.title %></td>
                        <td><%= time_ago_in_words(m.created_at) %> ago</td>
                        <td><a class="hoverable-links" href="<%= machine_path(m) %>" data-toggle="tooltip" data-placement="top" title="Go To Page"><span class="glyphicon glyphicon-new-window"></span></a></td>
                        <td><a class="hoverable-links" href="<%= edit_admin_machine_path(m) %>" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @machine %>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    $('.hoverable-links').css('visibility', 'hidden');
    $('tr').hover(function(){
        $(this).find('.hoverable-links').css('visibility', 'visible');
    },function(){
        $(this).find('.hoverable-links').css('visibility', 'hidden');
    });
})
</script>