<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <!--TODO:-->
      
      <!--Form needs to post properly when submitted-->
      
      <%= simple_form_for([:admin, @machine]) do |f| %>
        <%= f.error_notification %>
        <%= f.fields_for :machine_details do |year| %>
          <%= year.collection_select :year_id, Year.all, :id, :year %>
        <% end %>
        <div class="form-inputs">
            <%= f.input :title %>
        </div>
        

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>